# Declare files that will always have CRLF line endings on checkout.
*.txt text eol=crlf
*.ers text eol=crlf
*.ert text eol=crlf
*.erm text eol=crlf

.gitignore export-ignore
.gitattributes export-ignore
.git*           export-ignore